
<header ng-class="{top: scroll &gt; 82}" plat-width="plat-width">
  <section ng-show="plats &amp;&amp; plats.length" class="stats">
    <div class="label-input ver">
      <label>模式:</label><span><a href="#" ng-class="{active: listShow}" ng-click="listShow = true">列表</a><a href="#" ng-class="{active: !listShow}" ng-click="listShow = false">编辑</a></span>
    </div>
    <div class="label-input ver">
      <label>状态:</label><span><a href="#" ng-class="{active: stats == 1}" ng-click="stats = 1">有效</a><a href="#" ng-class="{active: stats == 0}" ng-click="stats = 0">无效</a></span>
    </div>
  </section>
  <section ng-include="'/static/mvms/partials/plat.html'" class="plat"></section>
</header>
<div ng-if="listShow" style="position: relative;">
  <div ng-show="plats &amp;&amp; plats.length" class="table_header"><span> <span>通用名称</span></span><span> <span>平台名称</span></span><span style="text-align: right;"><span style="margin-right: 20px;">#</span></span></div>
  <section ng-class="{active: list &amp;&amp; list.length}" class="list column showList">
    <div ng-repeat="item in list | filter: search" sortable="sortable" h-light="h-light" class="item">
      <label style="width: 33.3%;"><span ng-bind="item.videoColumn.name"></span></label>
      <label style="width: 33.3%;"><span ng-bind="item.name"></span></label>
    </div>
  </section>
  <div class="index-box flist"><i ng-repeat="item in list" ng-bind="$index+1" class="index"></i></div>
</div>
<section ng-class="{active: list &amp;&amp; list.length}" ng-if="!listShow" class="list column">
  <div ng-repeat="item in list | filter: search" h-light="h-light" class="item">
    <div ng-bind="$index+1" class="ndex"></div>
    <div class="item1">
      <div class="label-input label-text horizon">
        <label>栏目名称:</label>
        <input type="text" ng-model="item.videoColumn.name"/>
        <input type="text" ng-model="item.name" placeholder="平台显示名称"/>
        <label>栏目ID: {{item.column_id}}</label>
      </div>
      <div class="label-input">
        <label ng-class="{error: item.column_type == 'ERROR' || !item.column_type || item.column_type == 'null'}">栏目显示类型
          <!--i(ng-show="item.column_type == 'ERROR' || !item.column_type || item.column_type == 'null'") (必填)-->:
        </label>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="1"/>焦点图
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="3"/>活动列表
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="4"/>精选栏目
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="5"/>频道入口
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="6"/>节目
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.column_type" type="radio" value="7"/>观看记录
        </div>
      </div>
      <div class="label-input">
        <label>模板选择:</label>
        <div class="label-radio horizon">
          <input ng-model="item.layout" type="radio" value="3"/>横图
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.layout" type="radio" value="4"/>竖图
        </div>
      </div>
      <div class="label-input">
        <label>状态:</label>
        <div class="label-radio horizon">
          <input ng-model="item.status" type="radio" value="1"/>有效
        </div>
        <div class="label-radio horizon">
          <input ng-model="item.status" type="radio" value="0"/>无效
        </div>
      </div>
      <div class="label-input label-text">
        <label>是否有人工运营位:</label>
        <input type="checkbox" ng-model="item.is_manual_video" ng-true-value="1" ng-false-value="0"/>
      </div>
      <div class="label-input label-text">
        <label>内容条数:</label>
        <input type="text" ng-model="item.content_size"/>
      </div>
      <div class="label-input label-text">
        <label>分组:</label>
        <input type="text" ng-model="item.plat_group"/>
      </div>
      <div class="label-input">
        <label ng-class="{error: item.layout_type == 'ERROR' || !item.layout_type || item.layout_type == 'null'}">人工运营位样式
          <!--i(ng-show="item.layout_type == 'ERROR' || !item.layout_type || item.layout_type == 'null'") (必选)-->:
        </label>
        <select ng-model="item.layout_type">
          <option value="ERROR">无</option>
          <option value="101">101 横图无压标</option>
          <option value="102">102 竖图首张放大</option>
          <option value="103">103 横图单行主标题</option>
          <option value="104">104 横图两行主标题</option>
          <option value="105">105 横图首张放大</option>
          <option value="106">106 横图一行三列</option>
          <option value="107">107 横图无副标题</option>
          <option value="201">201 横图1大N小</option>
          <option value="202">202 竖图幻灯</option>
          <option value="203">203 横图幻灯</option>
          <option value="204">204 横图幻灯+2小</option>
          <option value="205">205 竖图双拼 压标+副标题</option>
          <option value="206">206 竖图双拼 副标题</option>
          <option value="208">208 竖图1+5 压标2行</option>
        </select>
      </div>
      <!--.label-input
      <label ng-class="{error: item.layout_type == 'ERROR' || !item.layout_type || item.layout_type == 'null'}">人工运营位样式<i ng-show="item.layout_type == 'ERROR' || !item.layout_type || item.layout_type == 'null'">(必填)</i>:</label>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="101"/><img src="http://i2.itc.cn/20131030/3169_e29459b7_bc63_3924_70bc_4b65f692a340_1.jpg" height="60" ng-click="view($event)"/>
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="102"/><img src="http://i2.itc.cn/20131030/3169_570a3902_03be_b798_ccf1_2e8dab4d16c1_1.jpg" height="60" ng-click="view($event)"/>
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="103"/><img src="http://i2.itc.cn/20131030/3169_29950675_6035_a178_4063_d74161f4d07b_1.jpg" height="60" ng-click="view($event)"/>
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="104"/><img src="http://i0.itc.cn/20131030/3169_6a4f33d3_8906_8b38_b662_e0505ece6f05_1.jpg" height="60" ng-click="view($event)"/>
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="201"/><img src="http://i2.itc.cn/20131030/3169_e0759a81_553a_f8d2_ad53_3ca1b530b5ee_1.jpg" height="60" ng-click="view($event)"/>
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.layout_type" type="radio" value="202"/><img src="http://img.itc.cn/mtv/138390082079970187.jpg" height="60" ng-click="view($event)"/>
      </div>
      -->
      <div class="label-input label-text">
        <label>自动列表:</label>
        <input type="text" ng-model="item.more_list" class="double"/>
      </div>
      <div class="label-input label-text">
        <label>二级自动列表:</label>
        <input type="text" ng-model="item.second_more_list" class="double"/>
      </div>
      <div class="label-input">
        <label ng-class="{error: item.more_list_layout_type == 'ERROR' || !item.more_list_layout_type || item.more_list_layout_type == 'null'}">自动列表样式
          <!--i(ng-show="item.more_list_layout_type == 'ERROR' || !item.more_list_layout_type || item.more_list_layout_type == 'null'") (必选)-->:
        </label>
        <select ng-model="item.more_list_layout_type">
          <option value="ERROR">无</option>
          <option value="1">1 横图有压标</option>
          <option value="2">2 横图无压标</option>
          <option value="3">3 竖图有压标</option>
          <option value="4">4 竖图无压标</option>
          <option value="5">5 竖图有压标副标题显示播放数</option>
          <option value="6">6 横图压标取一句话推荐 </option>
          <option value="7">7 竖图压标取一句话推荐</option>
          <option value="8">8 横图压标取最新一期副标题 </option>
          <option value="9">9 竖图压标取最新一期副标题</option>
          <option value="10">10 竖图无副标题两行主标题</option>
          <option value="11">11 横图两行标题压标取专辑名称</option>
          <option value="12">12 美剧-专题</option>
          <option value="13">13 美剧-最近更新</option>
          <option value="14">14 美剧-我的追剧</option>
          <option value="15">15 美剧-专题详情</option>
          <option value="16">16 竖图3拼 压标2行</option>
          <option value="17">17 小图长条</option>
          <option value="18">18 横图双拼 压标+副标题播放数</option>
          <option value="19">19 热点频道</option>
          <option value="20">20 体育-赛程表</option>
        </select>
      </div>
      <!--.label-input
      <label ng-class="{error: item.more_list_layout_type == 'ERROR' || !item.more_list_layout_type || item.more_list_layout_type == 'null'}">自动列表样式<i ng-show="item.more_list_layout_type == 'ERROR' || !item.more_list_layout_type || item.more_list_layout_type == 'null'">(必填)</i>:</label>
      <div class="label-radio horizon">
        <input ng-model="item.more_list_layout_type" type="radio" value="1"/>横图有压标
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.more_list_layout_type" type="radio" value="2"/>横图无压标
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.more_list_layout_type" type="radio" value="3"/>竖图有压标
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.more_list_layout_type" type="radio" value="4"/>竖图无压标
      </div>
      <div class="label-radio horizon">
        <input ng-model="item.more_list_layout_type" type="radio" value="5"/>竖图有压标副标题显示播放数
      </div>
      -->
      <div class="label-input">
        <label>更多跳转:</label>
        <select ng-model="item.jump_cate_code" ng-options="i.cate_code as i.name for i in jumps"></select>
      </div>
      <div class="label-input label-text">
        <label>actionUrl:</label>
        <input type="text" ng-model="item.action_url" class="double"/>
      </div>
      <div class="label-input label-text">
        <label>允许版本:</label>
        <input type="text" ng-model="item.sver_limit"/><small class="tip">*提示
          <div class="detail">
            <label>-1 允许全部版本; 指定的版本,版本号按英文逗号分割,开始和结尾必须加上英文逗号例如: ',4.0,4.0.1,4.0.2,'</label>
          </div></small>
      </div>
      <div class="label-input label-text">
        <label>排除版本:</label>
        <input type="text" ng-model="item.sver_exclude"/><small class="tip">*提示
          <div class="detail">
            <label>-1 不排除任何版本; 指定的版本,版本号按英文逗号分割,开始和结尾必须加上英文逗号例如: ',4.0,4.0.1,4.0.2,'</label>
          </div></small>
      </div>
      <div class="label-input label-text">
        <label>允许的渠道:</label>
        <input type="text" ng-model="item.allow_partner"/><small class="tip">*提示
          <div class="detail">
            <label>-1 全部允许; 指定允许的渠道,渠道号按英文逗号分割,开始和结尾不要加上英文逗号例如: '1,2,3'</label>
          </div></small>
      </div>
      <div class="label-input label-text">
        <label>栏目更新状态:</label>
        <input type="text" ng-model="item.topic_tip"/>
      </div>
      <div class="label-input label-text">
        <label>子频道类型:</label>
        <input type="text" ng-model="item.sub_channel_type_id"/><small class="tip">*提示
          <div class="detail">
            <label>美剧频道子频道类型</label>
          </div></small>
      </div>
      <div class="label-input label-text">
        <label>channeled:</label>
        <input type="text" ng-model="item.channeled"/><small class="tip">*提示
          <div class="detail">
            <label>统计用的数据</label>
          </div></small>
      </div>
      <div class="label-input label-text">
        <label>栏目背景图:</label>
        <input type="text" ng-model="item.column_backgound_url"/><small class="tip">*提示
          <div class="detail">
            <label>栏目背景图url</label>
          </div></small>
      </div>
    </div>
    <div class="item2">
      <p> <a href="#" ng-click="moveTop(this)">置顶</a><a href="#" ng-click="moveBottom(this)">置底</a></p>
      <p> <a href="#" ng-click="moveUp(this)">上移</a><a href="#" ng-click="moveDown(this)">下移</a></p>
      <p> <a href="#" ng-click="config()" ng-controller="columnConfigCtrl">栏目配置</a></p>
    </div>
  </div>
</section>
<button ng-class="{show: list &amp;&amp; list.length}" ng-click="listProvider.save()" class="save btn">保存</button>
<script type="text/ng-template" id="columnConfig.html">
  <div class="modal-header">
    <h3>栏目配置 - {{ item.videoColumn.name || '' }}</h3>
  </div>
  <div class="modal-body">
    <div style="position: absolute;left: 0px;top: 26px;" class="div">
      <input type="checkbox" style="display: block;" ng-click="all(plats)"/>
    </div>
    <div style="margin-left: -46px;display: block;" class="label-input label-text label-group">
      <input type="checkbox"/>
      <label>字段所属平台:</label>
      <div class="edit"><span ng-repeat="plat in plats" class="label-radio horizon">
          <input type="checkbox" ng-checked="plat.checked" ng-click="plat.checked = !plat.checked"/>{{ plat.name }}</span></div>
    </div>
    <div style="margin-left: -46px;" class="label-input label-text label-group">
      <label>请选择字段:</label>
      <div style="margin-left: 44px;" class="label-input label-text">
        <label>视频/专辑:</label>
        <div class="edit"><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_tv_name.active"/>标题</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_sub_title.active"/>副标题</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_pic.active"/>图片</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_tip.active"/>图片提示</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_preview.active"/>预览播放页</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_total.active"/>总集数</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_now.active"/>当前播放集数</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_intro.active"/>简介</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_cm.active"/>角标</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.vs_recommend_reason.active"/>推荐理由</span></div>
      </div>
      <div style="margin-left: 44px;" class="label-input label-text">
        <label>专题/活动:</label>
        <div class="edit"><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_title.active"/>标题</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_sub_title.active"/>副标题</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_pic.active"/>图片</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_url.active"/>专题URL</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_cm.active"/>角标</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_pic_tip.active"/>图片提示</span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_intro.active"/>简介 </span><span class="label-radio horizon">
            <input type="checkbox" ng-model="config.sa_live_id.active"/>直播ID </span></div>
      </div>
    </div>
    <div class="label-input label-text label-group">
      <label style="display: block;text-align: left;">为已选择字段添加提示:</label>
      <div style="overflow: hidden;">
        <div style="float: left; width: 50%;text-align: center;margin: 25px 0 4px 0;"><span style="display: inline-block;padding-right: 160px;margin-left: 109px;">视频/专辑</span><span>JS校验规则</span></div>
        <div style="float: left; width: 50%;text-align: center;margin: 25px 0 4px 0;"><span style="display: inline-block;padding-right: 160px;margin-left: 72px;">专题/活动</span><span>JS校验规则</span></div>
      </div>
      <div style="vertical-align: top;width: 573px;" class="horizon">
        <div ng-if="config.vs_tv_name.active" class="label-input label-text">
          <label>标题:</label>
          <input type="text" ng-model="config.vs_tv_name.value"/>
          <select ng-model="config.vs_tv_name.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_sub_title.active" class="label-input label-text">
          <label>副标题:</label>
          <input type="text" ng-model="config.vs_sub_title.value"/>
          <select ng-model="config.vs_sub_title.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_tip.active" class="label-input label-text">
          <label>图片提示:</label>
          <input type="text" ng-model="config.vs_tip.value"/>
          <select ng-model="config.vs_tip.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_pic.active" class="label-input label-text">
          <label>图片:</label>
          <input type="text" ng-model="config.vs_pic.width" placeholder="宽"/>
          <input type="text" ng-model="config.vs_pic.height" placeholder="高"/>
        </div>
        <div ng-if="config.vs_preview.active" class="label-input label-text">
          <label>预览播放页:</label>
          <input type="text" ng-model="config.vs_preview.value"/>
          <select ng-model="config.vs_preview.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_total.active" class="label-input label-text">
          <label>总集数:</label>
          <input type="text" ng-model="config.vs_total.value"/>
          <select ng-model="config.vs_total.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_now.active" class="label-input label-text">
          <label>当前播放集数:</label>
          <input type="text" ng-model="config.vs_now.value"/>
          <select ng-model="config.vs_now.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_intro.active" class="label-input label-text">
          <label>简介:</label>
          <input type="text" ng-model="config.vs_intro.value"/>
          <select ng-model="config.vs_intro.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_cm.active" class="label-input label-text">
          <label>角标:</label>
          <input type="text" ng-model="config.vs_cm.value"/>
          <select ng-model="config.vs_cm.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.vs_recommend_reason.active" class="label-input label-text">
          <label>推荐理由:</label>
          <input type="text" ng-model="config.vs_recommend_reason.value"/>
          <select ng-model="config.vs_recommend_reason.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
      </div>
      <div style="vertical-align: top;" class="horizon">
        <div ng-if="config.sa_title.active" class="label-input label-text">
          <label>标题:</label>
          <input type="text" ng-model="config.sa_title.value"/>
          <select ng-model="config.sa_title.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_sub_title.active" class="label-input label-text">
          <label>副标题:</label>
          <input type="text" ng-model="config.sa_sub_title.value"/>
          <select ng-model="config.sa_sub_title.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_pic_tip.active" class="label-input label-text">
          <label>图片提示:</label>
          <input type="text" ng-model="config.sa_pic_tip.value"/>
          <select ng-model="config.sa_pic_tip.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_pic.active" class="label-input label-text">
          <label>图片:</label>
          <input type="text" ng-model="config.sa_pic.width"/>
          <input type="text" ng-model="config.sa_pic.height"/>
        </div>
        <div ng-if="config.sa_url.active" class="label-input label-text">
          <label>专题URL:</label>
          <input type="text" ng-model="config.sa_url.value"/>
          <select ng-model="config.sa_url.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_cm.active" class="label-input label-text">
          <label>角标:</label>
          <input type="text" ng-model="config.sa_cm.value"/>
          <select ng-model="config.sa_cm.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_live_id.active" class="label-input label-text">
          <label>直播ID:</label>
          <input type="text" ng-model="config.sa_live_id.value"/>
          <select ng-model="config.sa_live_id.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
        <div ng-if="config.sa_intro.active" class="label-input label-text">
          <label>简介:</label>
          <input type="text" ng-model="config.sa_intro.value"/>
          <select ng-model="config.sa_intro.js_rule" ng-options="jr.value as jr.name for jr in js_rules"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn yellow">取消</button>
    <button ng-click="ok()" class="btn blue">保存</button>
  </div>
</script>