
<header ng-class="{top: scroll &gt; 82}" plat-width="plat-width">
  <section class="stats">
    <div class="label-input ver swapList">
      <label>模式:</label><span><a href="#" ng-class="{active: listShow}" ng-click="listShow = true">列表</a><a href="#" ng-class="{active: !listShow}" ng-click="listShow = false">编辑</a></span>
    </div>
    <div class="label-input ver swapState">
      <label>状态:</label><span><a href="#" ng-class="{active: stats == 1}" ng-click="stats = 1">有效</a><a href="#" ng-class="{active: stats == 0}" ng-click="stats = 0">无效</a></span>
    </div>
  </section>
  <section ng-include="'/static/mvms/partials/plat.html'" class="plat"></section>
</header>
<div ng-if="listShow" style="position: relative;">
  <div class="table_header video"><span style="width: 40%"><span>名称</span></span><span style="width: 20%"><span>视频ID</span></span><span style="width: 20%"><span>专辑ID</span></span><span style="text-align: right;width: 20%;"><span style="margin-right: 20px;">#</span></span></div>
  <section ng-class="{active: list &amp;&amp; list.length}" class="list channel showList">
    <div ng-repeat="item in list | filter: search" sortable="sortable" class="item">
      <label style="width: 40%;"><span>{{ item.video_name || item.album_name }}</span></label>
      <label style="width: 20%;"><span>{{ item.vid }}</span></label>
      <label style="width: 20%;"><span>{{ item.aid }}</span></label>
      <label style="width: 20%; text-align: center;"><span style="color:#FF3A2D">{{ item.type == 0 && '(视频)' || '(专辑)' }}</span></label>
    </div>
  </section>
  <div class="index-box flist"><i ng-repeat="item in list" ng-bind="$index+1" class="index"></i></div>
</div>
<section ng-class="{active: list &amp;&amp; list.length}" ng-if="!listShow" class="list firstStart">
  <div ng-repeat="item in list | filter: search" h-light="h-light" class="item">
    <div ng-bind="$index+1" class="ndex"></div>
    <div class="item1">
      <div class="label-input horizon">
        <label>频道ID:</label><span>{{item.cate_code}}</span>
      </div>
      <div class="label-input horizon">
        <label>专辑ID:</label><span>{{item.aid}}</span>
      </div>
      <div class="label-input horizon">
        <label>视频ID:</label><span>{{item.vid}}</span>
      </div>
      <div class="label-input horizon">
        <label>节目ID:</label><span>{{item.program_id}}</span>
      </div>
      <div class="label-input label-text">
        <label>{{item.type == 0 && '视频' || '专辑'}}名称:</label>
        <input type="text" ng-show="item.type == 0" ng-model="item.video_name"/>
        <input type="text" ng-show="item.type == 1" ng-model="item.album_name"/>
      </div>
      <div class="label-input label-text">
        <label>副标题:</label>
        <input type="text" ng-show="item.type == 0" ng-model="item.video_sub_name"/>
        <input type="text" ng-show="item.type == 1" ng-model="item.album_sub_name"/>
      </div>
      <div class="label-input label-text">
        <label>图片提示:</label>
        <input type="text" ng-model="item.tip"/>
      </div>
    </div>
    <div class="item2">
      <div style="text-align: center;" class="horizon"><img width="120" ng-src="{{item.video_big_pic}}" ng-click="view($event)" class="vertical"/>
        <button ng-click="upload(this)" class="vertical btn">上传图片</button>
      </div>
    </div>
    <div class="item3">
      <p> <a href="#" ng-click="moveTop(this)">置顶</a><a href="#" ng-click="moveBottom(this)">置底</a></p>
      <p> <a href="#" ng-click="moveUp(this)">上移</a><a href="#" ng-click="moveDown(this)">下移</a></p>
      <p> <a href="#" ng-click="changeStatus(item, $event)" ng-class="{on: item.status == 1}" class="iosBtn"></a></p>
      <p><a href="#" ng-click="applyOthers(this)">其他平台</a></p>
    </div>
  </div>
</section>
<button ng-class="{show: list &amp;&amp; list.length}" ng-click="listProvider.save()" class="save btn">保存</button>
<script type="text/ng-template" id="mutlUpload.html">
  <div class="modal-header">
    <h3>上传图片</h3>
  </div>
  <div class="modal-body">
    <div class="label-input label-text"><a ng-href="{{item.video_big_pic}}" target="_blank"><img width="60" ng-src="{{item.video_big_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>焦点图:</label>
      <input type="text" ng-model="item.video_big_pic" class="xxlarge"/>
      <input type="file" upload="item.video_big_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.hor_high_pic}}" target="_blank"><img width="60" ng-src="{{item.hor_high_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>高清横图:</label>
      <input type="text" ng-model="item.hor_high_pic" class="xxlarge"/>
      <input type="file" upload="item.hor_high_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.ver_high_pic}}" target="_blank"><img width="60" ng-src="{{item.ver_high_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>高清竖图:</label>
      <input type="text" ng-model="item.ver_high_pic" class="xxlarge"/>
      <input type="file" upload="item.ver_high_pic"/>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn yellow">取消</button>
    <button ng-click="ok()" class="btn blue">确定</button>
  </div>
</script>