
<div class="modal-header">
  <h3>操作记录</h3>
</div>
<div class="modal-body">
  <table>
    <thead>
      <tr style="font-weight: bold;">
        <th>content_id</th>
        <th>修改时间</th>
        <th>修改人</th>
        <th>创建时间</th>
        <th>创建人</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ng-bind="item.content_id"></td>
        <td ng-bind="item.update_time"></td>
        <td ng-bind="item.update_user"></td>
        <td ng-bind="item.create_time"></td>
        <td ng-bind="item.create_user"></td>
        <td> <a target="_blank" ng-href="/log/query.do?id={{ item.id }}">{{ item.id }} </a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer"></div>