
<header ng-class="{top: scroll &gt; 82}" plat-width="plat-width">
  <section ng-show="plats &amp;&amp; plats.length" class="stats ver">
    <div class="label-input ver swapList">
      <label>模式:</label><span><a href="#" ng-class="{active: listShow}" ng-click="listShow = true">列表</a><a href="#" ng-class="{active: !listShow}" ng-click="listShow = false">编辑</a></span>
    </div>
    <div class="label-input ver swapState">
      <label>状态:</label><span><a href="#" ng-class="{active: stats == 1}" ng-click="stats = 1">有效</a><a href="#" ng-class="{active: stats == 0}" ng-click="stats = 0">无效</a></span>
    </div>
  </section>
  <section ng-include="'/static/mvms/partials/plat.html'" class="plat"></section>
</header>
<div ng-if="listShow" style="position: relative;">
  <div ng-show="plats &amp;&amp; plats.length" class="table_header video"><span style="width: 30%"><span>通用名称</span></span><span style="width: 30%"><span>平台名称</span></span><span style="width: 10%"><span>视频ID</span></span><span style="width: 10%"><span>专辑ID</span></span><span style="text-align: right;"><span style="margin-right: 20px;">#</span></span></div>
  <section ng-class="{active: list &amp;&amp; list.plat_column_content_list &amp;&amp; list.plat_column_content_list.length}" class="list channel showList">
    <div ng-repeat="item in list.plat_column_content_list | filter: search" sortable="sortable" h-light="h-light" class="item">
      <label style="width: 30%;"><span> <a target="_blank" href="{{ item.video_url }}">{{ (item.type == 0 || item.type == 2) && item.content.video_name || item.content.album_name || '&nbsp;' }}</a></span></label>
      <label style="width: 30%;"><span>{{ (item.type == 0 || item.type == 2) && item.video_name || item.album_name || '&nbsp;' }}</span></label>
      <label style="width: 10%;"><span>{{ item.vid }}</span></label>
      <label style="width: 10%;"><span>{{ item.aid }}</span></label>
      <label style="width: 20%; text-align: center;"><span style="color:#FF3A2D">{{ item.type == 2 && '(活动)' || '&nbsp;' }}</span></label>
    </div>
  </section>
  <div class="index-box flist"><i ng-repeat="item in list.plat_column_content_list" ng-bind="$index+1" class="index"></i></div>
</div>
<section ng-class="{active: list &amp;&amp; list.plat_column_content_list &amp;&amp; list.plat_column_content_list.length}" ng-if="!listShow" class="list video">
  <div ng-repeat="item in list.plat_column_content_list | filter: search" h-light="h-light" class="item">
    <div ng-bind="$index+1" class="ndex"></div>
    <div class="item1">
      <div ng-if="item.type != 2">
        <div class="label-input horizon">
          <label> <a target="_blank" href="{{ item.video_url }}">视频ID:</a></label><span>{{item.vid}}</span>
        </div>
        <div class="label-input horizon">
          <label>专辑ID:</label><span>{{item.aid}}</span>
        </div>
        <div class="label-input horizon">
          <label>频道ID:</label><span>{{item.cate_code}}</span>
        </div>
        <div class="edit">
          <div class="label-input horizon">
            <label>老视频ID:</label><span>{{item.old_vid}}</span>
          </div>
          <div class="label-input horizon">
            <label>老专辑ID:</label><span>{{item.sid}}</span>
          </div>
          <div class="label-input horizon">
            <label>节目ID:</label><span>{{item.program_id}}</span>
          </div>
        </div>
        <div ng-if="config.vs_tv_name.active" class="label-input label-text">
          <label>{{item.type == 0 && '视频' || '专辑'}}名称:</label>
          <input type="text" ng-if="item.type == 0" ng-model="item.content.video_name" placeholder="{{config.vs_tv_name.value}}" check="vs_tv_name"/>
          <input type="text" ng-if="item.type == 1" ng-model="item.content.album_name" placeholder="{{config.vs_tv_name.value}}" check="vs_tv_name"/>
          <input type="text" ng-if="item.type == 0" ng-model="item.video_name" placeholder="{{config.vs_tv_name.value}}" check="vs_tv_name"/>
          <input type="text" ng-if="item.type == 1" ng-model="item.album_name" placeholder="{{config.vs_tv_name.value}}" check="vs_tv_name"/>
        </div>
        <div ng-if="config.vs_sub_title.active" class="label-input label-text">
          <label>副标题:</label>
          <input type="text" ng-if="item.type == 0" ng-model="item.content.video_sub_name" placeholder="{{config.vs_sub_title.value}}" check="vs_sub_title"/>
          <input type="text" ng-if="item.type == 1" ng-model="item.content.album_sub_name" placeholder="{{config.vs_sub_title.value}}" check="vs_sub_title"/>
          <input type="text" ng-if="item.type == 0" ng-model="item.video_sub_name" placeholder="{{config.vs_sub_title.value}}" check="vs_sub_title"/>
          <input type="text" ng-if="item.type == 1" ng-model="item.album_sub_name" placeholder="{{config.vs_sub_title.value}}" check="vs_sub_title"/>
        </div>
        <div ng-if="config.vs_tip.active" class="label-input label-text">
          <label>图片提示:</label>
          <input type="text" ng-model="item.content.tip" placeholder="{{config.vs_tip.value}}" check="vs_tip"/>
          <input type="text" ng-model="item.tip" placeholder="{{config.vs_tip.value}}" check="vs_tip"/>
        </div>
        <div ng-if="config.vs_now.active" class="label-input label-text">
          <label>更新集数:</label>
          <input type="text" ng-model="item.content.latest_video_count" placeholder="{{config.vs_now.value}}"/>
        </div>
        <div ng-if="config.vs_total.active" class="label-input label-text">
          <label>总集数:</label>
          <input type="text" ng-model="item.content.total_video_count" placeholder="{{config.vs_total.value}}"/>
        </div>
        <div ng-if="config.vs_preview.active" class="label-input label-text">
          <label>预览播放页:</label>
          <input type="text" ng-model="item.tv_url" placeholder="{{config.vs_preview.value}}"/>
        </div>
        <div ng-if="config.vs_intro.active" class="label-input label-text">
          <label>简介:</label>
          <textarea ng-model="item.content.tv_desc" placeholder="{{config.vs_intro.value}}" check="vs_intro"></textarea>
          <textarea ng-model="item.tv_desc" placeholder="{{config.vs_intro.value}}" check="vs_intro"></textarea>
        </div>
        <div ng-if="config.vs_cm.active" class="label-input label-text">
          <label>角标:</label>
          <input type="text" ng-model="item.content.label" placeholder="{{config.vs_cm.value}}" check="vs_cm"/>
          <input type="text" ng-model="item.label" placeholder="{{config.vs_cm.value}}" check="vs_cm"/>
        </div>
        <div ng-if="config.vs_recommend_reason.active" class="label-input label-text">
          <label>推荐理由:</label>
          <input type="text" ng-model="item.content.recommend_reason" placeholder="{{config.vs_recommend_reason.value}}" check="vs_recommend_reason"/>
          <input type="text" ng-model="item.recommend_reason" placeholder="{{config.vs_recommend_reason.value}}" check="vs_recommend_reason"/>
        </div>
      </div>
      <div ng-if="item.type == 2">
        <div class="label-input">
          <label ng-class="{error: item.content.action_type == 'ERROR' || !item.content.action_type || item.content.action_type == 'null'}">活动类型 <i ng-show="item.content.action_type == 'ERROR' || !item.content.action_type || item.content.action_type == 'null'">(必填)</i>:</label>
          <div class="label-radio horizon">
            <input type="radio" value="2" ng-model="item.content.action_type"/>内置浏览器
          </div>
          <div class="label-radio horizon">
            <input type="radio" value="3" ng-model="item.content.action_type"/>外置浏览器
          </div>
          <div class="label-radio horizon">
            <input type="radio" value="8" ng-model="item.content.action_type"/>直播中间页
          </div>
          <div class="label-radio horizon">
            <input type="radio" value="9" ng-model="item.content.action_type"/>直播播放器
          </div>
          <div class="label-radio horizon">
            <input type="radio" value="10" ng-model="item.content.action_type"/>专题
          </div>
        </div>
        <div ng-if="config.sa_title.active" class="label-input label-text">
          <label>活动名称:</label>
          <input type="text" ng-model="item.content.video_name" placeholder="{{config.sa_title.value}}"/>
          <input type="text" ng-model="item.video_name" placeholder="{{config.sa_title.value}}"/>
        </div>
        <div ng-if="config.sa_sub_title.active" class="label-input label-text">
          <label>副标题:</label>
          <input type="text" ng-model="item.content.video_sub_name" placeholder="{{config.sa_sub_title.value}}"/>
          <input type="text" ng-model="item.video_sub_name" placeholder="{{config.vs_sub_title.value}}"/>
        </div>
        <div ng-if="config.sa_url.active" class="label-input label-text">
          <label>专题URL:</label>
          <input type="text" ng-model="item.content.action_url" placeholder="{{config.sa_url.value}}" check="sa_url"/>
          <input type="text" ng-model="item.action_url" placeholder="{{config.sa_url.value}}" check="sa_url"/>
        </div>
        <div ng-if="config.sa_cm.active" class="label-input label-text">
          <label>角标:</label>
          <input type="text" ng-model="item.content.label" placeholder="{{config.sa_cm.value}}"/>
          <input type="text" ng-model="item.label" placeholder="{{config.sa_cm.value}}"/>
        </div>
        <div ng-if="config.sa_live_id.active" class="label-input label-text">
          <label>直播ID:</label>
          <input type="text" ng-model="item.content.live_id" placeholder="{{config.sa_live_id.value}}"/>
          <input type="text" ng-model="item.live_id" placeholder="{{config.sa_live_id.value}}"/>
        </div>
        <div ng-if="config.sa_pic_tip.active" class="label-input label-text">
          <label>图片提示:</label>
          <input type="text" ng-model="item.content.tip" placeholder="{{config.sa_pic_tip.value}}"/>
          <input type="text" ng-model="item.tip" placeholder="{{config.sa_pic_tip.value}}"/>
        </div>
        <div ng-if="config.sa_intro.active" class="label-input label-text">
          <label>简介:</label>
          <textarea ng-model="item.content.tv_desc" placeholder="{{config.sa_intro.value}}" check="sa_intro"></textarea>
          <textarea ng-model="item.tv_desc" placeholder="{{config.sa_intro.value}}" check="sa_intro"></textarea>
        </div>
      </div>
    </div>
    <div class="item2">
      <div ng-if="item.column_id != 1">
        <div class="label-input horizon">
          <label style="text-align: center;">横图<img width="80" ng-src="{{item.hor_big_pic}}" ng-click="view($event)" class="vertical"/></label>
        </div>
        <div class="label-input horizon">
          <label style="text-align: center;">竖图<img width="80" ng-src="{{ item.ver_big_pic }}" ng-click="view($event)" class="vertical"/></label>
        </div>
      </div>
      <div ng-if="item.column_id == 1">
        <div class="label-input horizon">
          <label style="text-align: center;">焦点图<img width="80" ng-src="{{ item.video_big_pic }}" ng-click="view($event)" class="vertical"/></label>
        </div>
      </div>
      <!--span(ng-if="(item.type == 2 && config.sa_pic.active) || config.vs_pic.active") ({{item.type == 2 && config.sa_pic.width || config.vs_pic.width}}x{{item.type == 2 && config.sa_pic.height || config.vs_pic.height}})-->
      <!--img.vertical(width="80", ng-src="{{ list.plat_channel_column.column_type && (list.plat_channel_column.column_type != 1 && (list.plat_channel_column.layout_type == 102 && item.ver_high_pic || item.hor_high_pic) || item.video_big_pic) || (list.plat_channel_column.layout == 3 && item.hor_high_pic || item.ver_high_pic) }}", ng-click="view($event)")-->
      <button ng-click="upload(this)" class="vertical btn">上传图片</button>
    </div>
    <div class="item3">
      <p> <a href="#" ng-click="moveTop(this)">置顶</a><a href="#" ng-click="moveBottom(this)">置底</a></p>
      <p> <a href="#" ng-click="moveUp(this)">上移</a><a href="#" ng-click="moveDown(this)">下移</a></p>
      <p><a href="#" ng-click="changeStatus(item, $event)" ng-class="{on: item.status == 1}" class="iosBtn"></a></p>
      <p><a href="#" ng-click="applyOthers(this)">其他平台</a></p>
      <p><a href="#" ng-click="logs(this)">操作记录</a></p>
    </div>
  </div>
</section><a ng-if="plats &amp;&amp; plats.length" ng-click="listProvider.loadMore()" href="#" ng-bind="listProvider.loading &amp;&amp; '加载中..' || (listProvider.more &amp;&amp; '加载更多' || (listProvider.more == false &amp;&amp; '没有更多啦' || ''))" class="loadmore"> </a>
<button ng-class="{show: list.plat_column_content_list &amp;&amp; list.plat_column_content_list.length}" ng-click="listProvider.save()" class="save btn">保存</button>
<script type="text/ng-template" id="mutlUpload.html">
  <div class="modal-header">
    <h3>上传图片</h3>
  </div>
  <div class="modal-body">
    <div class="label-input label-text"><a ng-href="{{item.content.default_pic}}" target="_blank"><img width="60" ng-src="{{item.content.default_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>通用:</label>
      <input type="text" ng-model="item.content.default_pic" class="xxlarge"/>
      <input type="file" upload="item.content.default_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.hor_high_pic}}" target="_blank"><img width="60" ng-src="{{item.hor_high_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>横图:</label>
      <input type="text" ng-model="item.hor_high_pic" class="xxlarge"/>
      <input type="file" upload="item.hor_high_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.hor_high_16x9_pic}}" target="_blank"><img width="60" ng-src="{{item.hor_high_16x9_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>16x9横图:</label>
      <input type="text" ng-model="item.hor_high_16x9_pic" class="xxlarge"/>
      <input type="file" upload="item.hor_high_16x9_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.ver_high_pic}}" target="_blank"><img width="60" ng-src="{{item.ver_high_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>竖图:</label>
      <input type="text" ng-model="item.ver_high_pic" class="xxlarge"/>
      <input type="file" upload="item.ver_high_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.video_big_pic}}" target="_blank"><img width="60" ng-src="{{item.video_big_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>焦点图:</label>
      <input type="text" ng-model="item.video_big_pic" class="xxlarge"/>
      <input type="file" upload="item.video_big_pic"/>
    </div>
    <div class="label-input label-text"><a ng-href="{{item.tv_recommend_pic}}" target="_blank"><img width="60" ng-src="{{item.tv_recommend_pic}}" style="display: inline-block;vertical-align: middle;margin-right: 20px;"/></a>
      <label>频道推荐:</label>
      <input type="text" ng-model="item.tv_recommend_pic" class="xxlarge"/>
      <input type="file" upload="item.tv_recommend_pic"/>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn yellow">取消</button>
    <button ng-click="ok()" class="btn blue">确定</button>
  </div>
</script>